.crypto_card {
	display: flex;
	width: 100%;
	justify-content: space-evenly;

	background-color: var(--bg_color);
	border-top: solid 1px var(--border_color);
	/* border-bottom: solid 1px black; */
}

.crypto_card h4 {
	margin: 0;
}

.crypto_card:hover {
	background-color: var(--hover_color);
}

#card_name_div {
	display: flex;
	width: 50%;
	background-color: aqua;
}

.inner_card_div {
	padding: 1%;
}

.crypto_card .inner_card_div:nth-child(1) {
	width: 10%;
}

.inner_card_div img {
	margin-right: 2%;
}

.inner_card_div button {
	background-color: transparent;
	border: none;
	font-size: 1rem;
}

.crypto_card img {
	width: 2vw;
	height: 2vw;
	display: inline-block;
}

.inner_card_div {
	width: 10.2%;
}
