.crypto_display_div {
	width: 80%;
	margin: 5% 10%;

	border-bottom: solid 2px black;
}

.crypto_display_heading {
	display: flex;
	position: sticky;
	top: 8%;

	background-color: var(--bg_color);
}

.content {
	text-align: center;
}

.search_box {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.search_box div {
	width: 20%;
}

.home_div {
	padding-top: 5%;
}

.home_div h1 {
	text-align: center;
	font-size: 2.5rem;
}

.home_div h3 {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 3%;
}

.feature_btn {
	background-color: var(--font_color_2);
	border: none;
	border-radius: 10%;
	font-size: 1rem;
	color: var(--font_color);

	padding: 2% 4%;
	margin: 0 3%;
}

.feature_btn:hover {
	color: var(--font_color);
	cursor: pointer;
}

.feature_btn:hover .feature_btn_icon {
	color: var(--font_color);
}

.feature_btn_icon {
	color: var(--font_color_3);
}

.home_select_option {
	background-color: var(--font_color_2);
	padding: 2%;

	font-weight: bold;
	border: none;
	border-radius: 10%;
	margin-right: 2%;
}

.home_select_option:focus {
	outline: none;
}

.search_input {
	background-color: var(--font_color_2);
	color: var(--font_color);
	padding: 2%;

	border: none;
	border-radius: 10%;
	font-size: 1rem;
}

.search_input:focus {
	outline: none;
}
