.nav {
	display: flex;
	justify-content: space-around;

	position: fixed;
	top: 0px;
	width: 100%;
	/* height: 20vh; */

	background-color: var(--bg_color);
	border-bottom: solid 0.5px var(--font_color);
	padding: 1.2% 0;
}

.nav div {
	width: 10%;
}

.home_link {
	text-decoration: none;
	color: var(--font_color);

	font-size: 1.5rem;
}

.theme_change_btn {
	background-color: transparent;
	border: none;
	color: var(--font_color);

	font-size: 1.5rem;
	margin: 0% 3%;
}

.theme_change_btn:hover {
	cursor: pointer;
}

.login_button {
	background-color: #4566e7;
	border: none;
	border-radius: 10%;
	color: var(--bg_color);

	font-size: 1.2rem;
	padding: 4% 12%;
	margin: 1%;
}

.login_button:hover {
	background-color: #3459e7;
	cursor: pointer;
}
